body {
    width: 100%;
    margin: 0;
}

.a {
    width: 100%;
    height: 300px;
    background-color: rgb(99, 43, 4);
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 25px;
    color: green;
}

.b {
    background-color: palegoldenrod;
    height: 400px;
    margin-top: -16px;
}
