body {
    margin: 0;
}

.a {
    width: 100%;
    height: 100px;
    background-color: black;
    margin-bottom: 5px;
}

.b {
    display: inline-block;
    width: 70%;
    height: 350px;
    background-color: yellow;
}

.c {
    display: inline-block;
    width: 29.5%;
    height: 350px;
    background-color: green;
}

.d {
    width: 100%;
    height: 200px;
    background-color: blue;
}