a {
    text-decoration: none;
}

.navbar {
    background-color: rgb(235, 234, 233);
    padding: 0 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 26px;
    color: rgb(124, 124, 124);
}

button {
    border: none;
    background-color:  rgb(235, 234, 233);
}

button a {
    color: rgb(124, 124, 124);
}

.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 10% auto;
}

.login input {
    margin: 10px 0;
    height: 30px;
}

.btn {
    color: #fff;
    background-color: rgba(0, 0, 255, 0.461);
    font-size: 16px;
}