* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: plum;
}

.wrapper {
    width: 400px;
    background-color: purple;
    box-shadow: 1px 1px 10px black;
}

.wrapper h1 {
    text-align: center;
    color: #fff;
}

.input-box1 {
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    padding: 5px;
    height: 45px;
    width: 90%;
}



.input-box {
    width: 100%;
    margin: 20px 0;
}

.input-box1 input {
    height: 100%;
}

.input-box input {
    width: 90%;
    height: 100%;
    margin: 0 5%;
    padding: 10px;
}

.check {
    margin: 0px 5%;
}

span {
    color: #fff;
}

.register a {
    color: #fff;
}

.btn {
    width: 90%;
    height: 40px;
    border-radius: 40px;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 5%;
}

.register {
    text-align: center;
    width: 80%;
    margin: 10px auto;
    color: #fff;
}

